<div class="feature">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-3 col-md-6 feature-col">
                <div class="feature-content">
                    <i class="fab fa-cc-mastercard"></i>
                    <h2>Güvenli Ödeme</h2>
                    <p>
                        Tüm alışverişlerinizde gelişmiş güvenlik sistemleri ile ödeme yapabilirsiniz.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 feature-col">
                <div class="feature-content">
                    <i class="fa fa-truck"></i>
                    <h2>Hızlı Teslimat</h2>
                    <p>
                        Siparişleriniz en kısa sürede kapınıza teslim edilir.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 feature-col">
                <div class="feature-content">
                    <i class="fa fa-sync-alt"></i>
                    <h2>15 Gün İade</h2>
                    <p>
                        Satın aldığınız ürünleri 15 gün içinde koşulsuz iade edebilirsiniz.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 feature-col">
                <div class="feature-content">
                    <i class="fa fa-comments"></i>
                    <h2>7/24 Destek</h2>
                    <p>
                        Her türlü soru ve sorunlarınız için 7 gün 24 saat bizimle iletişime geçebilirsiniz.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>