<div class="col-md-4">
    <div class="product-short">
        <div class="dropdown">
            <div class="dropdown-toggle" data-toggle="dropdown">Renge Göre Listele</div>
            <div class="dropdown-menu dropdown-menu-right">
                <a href="#" class="dropdown-item">Siyah</a>
                <a href="#" class="dropdown-item">Beyaz</a>
                <a href="#" class="dropdown-item">Mavi</a>
                <a href="#" class="dropdown-item">Kırmızı</a>
                <a href="#" class="dropdown-item">Yeşil</a>
                <a href="#" class="dropdown-item">Sarı</a>
                <a href="#" class="dropdown-item">Pembe</a>
                <a href="#" class="dropdown-item">Mor</a>
                <a href="#" class="dropdown-item">Turuncu</a>
            </div>
        </div>
    </div>
</div>