@model List<ResultCategoryDto>
<div class="col-md-3">
    <nav class="navbar bg-light">
        <ul class="navbar-nav">
            @foreach(var item in Model)
            {
                <li class="nav-item">
                    <a class="nav-link" href="/ProductList/Index/@item.CategoryID"><i class="fa fa-align-left"></i>@item.CategoryName</a>
                </li>
            }            
        </ul>
    </nav>
</div>