<div class="col-md-3">
    <div class="header-img">
        <div class="img-item">
            <img src="https://images.pexels.com/photos/996329/pexels-photo-996329.jpeg?auto=compress&cs=tinysrgb&w=400&h=300&dpr=1" />
            <a class="img-text" href="">
                <p>Tişörtlerde %10'a Varan İndirimler</p>
            </a>
        </div>
        <div class="img-item">
            <img src="https://images.pexels.com/photos/1478442/pexels-photo-1478442.jpeg?auto=compress&cs=tinysrgb&w=400&h=300&dpr=1" />
            <a class="img-text" href="">
                <p>Sezon Sonu Ayakkabı İndirimleri</p>
            </a>
        </div>
    </div>
</div>