@model List<ResultTopDiscountDto>

<div class="col-md-3">
    <div class="header-img">
        @foreach(var item in Model)
        {
            <div class="img-item">
                <img src="@item.ImageUrl" />
                <a class="img-text" href="">
                    <p>@item.SubTitle</p>
                </a>
            </div>
        }
    </div>
</div>