@model UpdateProductDto

<div class="col-md-7">
    <div class="product-content">
        <div class="title"><h2>@Model.ProductName</h2></div>
        <div class="ratting">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <h7>0 Değerlendirme</h7>
        </div>
        <div class="price">
            <h4>Fiyat:</h4>
            <p>₺@Model.ProductPrice <span></span></p>
        </div>
        <div class="quantity">
            <h4>Adet:</h4>
            <div class="qty">
                <button class="btn-minus"><i class="fa fa-minus"></i></button>
                <input type="text" value="1">
                <button class="btn-plus"><i class="fa fa-plus"></i></button>
            </div>
        </div>
        <div class="p-size">
            <h4>Ebat:</h4>
            <div class="btn-group btn-group-sm">
                <button type="button" class="btn">XS</button>
                <button type="button" class="btn">S</button>
                <button type="button" class="btn">M</button>
                <button type="button" class="btn">L</button>
                <button type="button" class="btn">XL</button>
            </div>
        </div>
        <div class="p-color">
            <h4>Renk:</h4>
            <div class="btn-group btn-group-sm">
                <button type="button" class="btn">Siyah</button>
                <button type="button" class="btn">Beyaz</button>
                <button type="button" class="btn">Mavi</button>
            </div>
        </div>
        <div class="action">
            <a class="btn" href="#"><i class="fa fa-shopping-bag"></i>Sepete Ekle</a>
        </div>
    </div>
</div>