<div class="col-md-4">
    <div class="product-short">
        <div class="dropdown">
            <div class="dropdown-toggle" data-toggle="dropdown">Sırala</div>
            <div class="dropdown-menu dropdown-menu-right">
                <a href="#" class="dropdown-item">En Yeni</a>
                <a href="#" class="dropdown-item">Popüler</a>
                <a href="#" class="dropdown-item">Çok Satılan</a>
            </div>
        </div>
    </div>
</div>