@model CreateFeatureDto

@{
    ViewData["Title"] = "CreateFeature";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
    <div class="row">

        <div class="col-md-12">
            <div class="chart-box">
                <h4>Hizmet Önce Çıkanı Ekleme Sayfası</h4>
                <br />
                <div class="bs-example" data-example-id="bordered-table">

                    <form method="post">
                        <label>Hizmet Önce Çıkan Başlığı</label>
                        <input type="text" class="form-control" asp-for="Title" />
                        <br />
                        <label>Hizmet Önce Çıkan Açıklaması</label>
                        <input type="text" class="form-control" asp-for="Description" />
                        <br />
                        <label>Öne Çıkan Alan İkonu</label>
                        <input type="text" class="form-control" asp-for="Icon" />
                        <br />
                        <button class="btn btn-primary">Hizmet Önce Çıkanı Ekle</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

