<aside class="main-sidebar dark-bg">
    <section class="sidebar">
        <div class="user-panel black-bg">
            <div class="pull-left image"> <img src="~/MainDownload-OvioAdmin-html5-template/html/dist/img/user.png" class="img-circle" alt="User Image"> </div>
            <div class="pull-left info">
                <p>Talha Yıldız</p>
                <a href="#"><i class="fa fa-circle"></i> Çevrimiçi</a>
            </div>
        </div>
        <!-- Sidebar Menu -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header dark-bg">Menü</li>
            <li><a href="https://fontawesome.com/v4/icons/"> <i class="fa fa-certificate"></i><span>Font Awesome</span></a></li>
            <li><a href="/Default/Index/"> <i class="fa fa-magic"></i><span>Siteye Git</span></a></li>
            <li><a href="/Admin/Category/Index/"> <i class="fa fa-th"></i><span>Kategoriler</span></a></li>
            <li><a href="/Admin/Product/ProductListWithCategory/"> <i class="fa fa-barcode"></i><span>Ürünler</span></a></li>
            <li><a href="/Admin/FeatureSlider/Index/"> <i class="fa fa-picture-o"></i><span>Öne Çıkan Alanı</span></a></li>
            <li><a href="/Admin/TopDiscount/Index/"> <i class="fa fa-cubes"></i><span>Özel İndirimler</span></a></li>
            <li><a href="/Admin/Feature/Index/"> <i class="fa fa-bullseye"></i><span>Hizmet Öne Çıkan Alanı</span></a></li>
            <li><a href="/Admin/Vendor/Index/"> <i class="fa fa-apple"></i><span>Markalar</span></a></li>
            <li><a href="/Admin/About/Index/"> <i class="fa fa-info"></i><span>Hakkımda</span></a></li>
            <li><a href="/Admin/Comment/Index/"> <i class="fa fa-comment"></i><span>Yorumlar</span></a></li>
            <li><a href="/Admin/User/UserList/"> <i class="fa fa-users"></i><span>Kullanıcı Listesi</span></a></li>
            <li><a href="/Admin/Comment/Index/"> <i class="fa fa-shopping-cart"></i><span>Sipariş Listesi</span></a></li>
            <li><a href="/Admin/Comment/Index/"> <i class="fa fa-money"></i><span>Kasa Bilgileri</span></a></li>
            <li><a href="/Admin/Comment/Index/"> <i class="fa fa-pie-chart"></i><span>İstatistikler</span></a></li>
            <li><a href="/Admin/Cargo/CargoCompanyList/"> <i class="fa fa-bus"></i><span>Kargo</span></a></li>
            <li><a href="/Admin/Comment/Index/"> <i class="fa fa-level-down"></i><span>İndirimler</span></a></li>
            <li><a href="/Admin/Comment/Index/"> <i class="fa fa-picture-o"></i><span>Görseller</span></a></li>
            <li><a href="/Admin/Comment/Index/"> <i class="fa fa-paper-plane"></i><span>Mesajlar</span></a></li>
            <li><a href="/Admin/Comment/Index/"> <i class="fa fa-cog"></i><span>Ayarlar</span></a></li>
            <li><a href="/Admin/Comment/Index/"> <i class="fa fa-power-off"></i><span>Çıkış Yap</span></a></li>
        </ul>
        <!-- sidebar-menu -->
    </section>
</aside>