@model List<ResultVendorDto>

<div class="brand">
    <div class="container-fluid">
        <div class="brand-slider">
            @foreach(var item in Model)
            {
                <div class="brand-item"><img src="@item.ImageUrl" alt=""></div>
            }
        </div>
    </div>
</div>