<div id="reviews" class="container tab-pane fade">
    <div class="reviews-submitted">
        <div class="reviewer">Phasellus Gravida - <span>01 Jan 2020</span></div>
        <div class="ratting">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
        </div>
        <p>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
        </p>
    </div>
    <div class="reviews-submit">
        <h4>Give your Review:</h4>
        <div class="ratting">
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
        </div>
        <div class="row form">
            <div class="col-sm-6">
                <input type="text" placeholder="Name">
            </div>
            <div class="col-sm-6">
                <input type="email" placeholder="Email">
            </div>
            <div class="col-sm-12">
                <textarea placeholder="Review"></textarea>
            </div>
            <div class="col-sm-12">
                <button>Submit</button>
            </div>
        </div>
    </div>
</div>