<div class="col-md-5">
    <div class="product-slider-single normal-slider">
        <img src="~/ecommerce-html-template/img/product-1.jpg" alt="Product Image">
        <img src="~/ecommerce-html-template/img/product-3.jpg" alt="Product Image">
        <img src="~/ecommerce-html-template/img/product-5.jpg" alt="Product Image">
        <img src="~/ecommerce-html-template/img/product-7.jpg" alt="Product Image">
        <img src="~/ecommerce-html-template/img/product-9.jpg" alt="Product Image">
        <img src="~/ecommerce-html-template/img/product-10.jpg" alt="Product Image">
    </div>
    <div class="product-slider-single-nav normal-slider">
        <div class="slider-nav-img"><img src="~/ecommerce-html-template/img/product-1.jpg" alt="Product Image"></div>
        <div class="slider-nav-img"><img src="~/ecommerce-html-template/img/product-3.jpg" alt="Product Image"></div>
        <div class="slider-nav-img"><img src="~/ecommerce-html-template/img/product-5.jpg" alt="Product Image"></div>
        <div class="slider-nav-img"><img src="~/ecommerce-html-template/img/product-7.jpg" alt="Product Image"></div>
        <div class="slider-nav-img"><img src="~/ecommerce-html-template/img/product-9.jpg" alt="Product Image"></div>
        <div class="slider-nav-img"><img src="~/ecommerce-html-template/img/product-10.jpg" alt="Product Image"></div>
    </div>
</div>