
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/_UILayout.cshtml";
}

<div class="breadcrumb-wrap">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Anasayfa</a></li>
            <li class="breadcrumb-item active">Ürün Listesi</li>
        </ul>
    </div>
</div>

@await Component.InvokeAsync("_SliderDefaultComponentPartial")
@await Component.InvokeAsync("_FeatureDefaultComponentPartial")
@await Component.InvokeAsync("_CategoriesDefaultComponentPartial")

