<!-- Newsletter Start -->
<div class="newsletter">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h1>Bültenimize Abone Olun</h1>
            </div>
            <div class="col-md-6">
                <div class="form">
                    <input type="email" value="E-Posta Adresiniz">
                    <button>Gönder</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Newsletter End -->
<!-- Call to Action Start -->
<div class="call-to-action">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h1>Soru ve Görüşleriniz İçin Bizi Arayın</h1>
            </div>
            <div class="col-md-6">
                <a href="tel:0123456789">0212 123 12 12</a>
            </div>
        </div>
    </div>
</div>
<!-- Call to Action End -->
<!-- Footer Start -->
<div class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h2>Hakkımızda</h2>
                    <div class="contact-info">
                        <p><i class="fa fa-map-marker"></i>123 E Store, Los Angeles, USA</p>
                        <p><i class="fa fa-envelope"></i>email@example.com</p>
                        <p><i class="fa fa-phone"></i>+123-456-7890</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h2>Bizi Takip Edin</h2>
                    <div class="contact-info">
                        <div class="social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-linkedin-in"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                            <a href=""><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h2>Hızlı Alışveriş</h2>
                    <ul>
                        <li><a href="#">Anasayfa</a></li>
                        <li><a href="#">Ürünlerimiz</a></li>
                        <li><a href="#">Günün Fırsatı</a></li>
                        <li><a href="#">İndirimler</a></li>
                        <li><a href="#">Sepetim</a></li>
                        <li><a href="#">Bize Ulaşın</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h2>Hesabım</h2>
                    <ul>
                        <li><a href="#">Profilim</a></li>
                        <li><a href="#">Önceki Siparişlerim</a></li>
                        <li><a href="#">Sepet Detaylarım</a></li>
                        <li><a href="#">İndirim Kuponlarım</a></li>
                        <li><a href="#">İletişim</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row payment align-items-center">
            <div class="col-md-6">
                <div class="payment-method">
                    <h2>We Accept:</h2>
                    <img src="~/ecommerce-html-template/img/payment-method.png" alt="Payment Method" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="payment-security">
                    <h2>Secured By:</h2>
                    <img src="~/ecommerce-html-template/img/godaddy.svg" alt="Payment Security" />
                    <img src="~/ecommerce-html-template/img/norton.svg" alt="Payment Security" />
                    <img src="~/ecommerce-html-template/img/ssl.svg" alt="Payment Security" />
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->
<!-- Footer Bottom Start -->
<div class="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-6 copyright">
                <p>Copyright &copy; <a href="https://htmlcodex.com">HTML Codex</a>. All Rights Reserved</p>
            </div>

            <div class="col-md-6 template-by">
                <p>Template By <a href="https://htmlcodex.com">HTML Codex</a></p>
            </div>
        </div>
    </div>
</div>
<!-- Footer Bottom End -->
<!-- Back to Top -->
<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>