@model CreateOrderAddressDto

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/_UILayout.cshtml";
}

<div class="checkout">
    <div class="container-fluid">
        <div class="row">


            <div class="col-lg-8">
                <div class="checkout-inner">
                    <div class="billing-address">
                        <h2>Teslimat ve Fatura Adresi</h2>
                        <form method="post">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Ad</label>
                                    <input class="form-control" type="text" asp-for="Name" placeholder="Adınızı girin">
                                </div>
                                <div class="col-md-6">
                                    <label>Soyad</label>
                                    <input class="form-control" type="text" asp-for="Surname" placeholder="Soyadınızı girin">
                                </div>
                                <div class="col-md-6">
                                    <label>E-posta</label>
                                    <input class="form-control" type="email" asp-for="Email" placeholder="E-posta adresinizi girin">
                                </div>
                                <div class="col-md-6">
                                    <label>Telefon</label>
                                    <input class="form-control" type="tel" asp-for="Phone" placeholder="Telefon numaranızı girin">
                                </div>
                                <div class="col-md-12">
                                    <label>Adres</label>
                                    <input class="form-control" type="text" asp-for="Detail1" placeholder="Açık adresinizi girin">
                                </div>
                                <div class="col-md-6">
                                    <label>Ülke</label>
                                    <input class="form-control" type="text" asp-for="Country" placeholder="Ülke adı girin">
                                </div>
                                <div class="col-md-6">
                                    <label>Şehir</label>
                                    <input class="form-control" type="text" asp-for="City" placeholder="Şehir adı girin">
                                </div>
                                <div class="col-md-6">
                                    <label>İlçe</label>
                                    <input class="form-control" type="text" asp-for="District" placeholder="İlçe adı girin">
                                </div>
                                <div class="col-md-6">
                                    <label>Posta Kodu</label>
                                    <input class="form-control" type="text" asp-for="ZipCode" placeholder="Posta kodunu girin">
                                </div>
                            </div>
                            <div class="checkout-btn">
                                <button class="btn btn-primary btn-block">Siparişi Tamamla</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="checkout-inner">

                    @await Component.InvokeAsync("_OrderSummaryComponentPartial")

                    @await Component.InvokeAsync("_PaymentMethodComponentPartial")

                </div>
            </div>
        </div>
    </div>
</div>