<div class="col-lg-4">
    <div class="cart-page-inner">
        <div class="row">
            <div class="col-md-12">
                <div class="coupon">
                    <input type="text" placeholder="Kupon Kodu">
                    <button>Kuponu Uygula</button>
                </div>
            </div>
            <div class="col-md-12">
                <div class="cart-summary">
                    <div class="cart-content">
                        <h1>Sepet Detayı</h1>
                        <p>Ara Toplam<span>1,145₺</span></p>
                        <p>KDV Tutarı<span>12₺</span></p>
                        <h2>Toplam<span>1,157₺</span></h2>
                    </div>
                    <div class="cart-btn">
                        <button>Sepeti Güncelle</button>
                        <button>Sepeti Onayla</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>