<div class="col-md-4">
    <div class="product-price-range">
        <div class="dropdown">
            <div class="dropdown-toggle" data-toggle="dropdown">Fiyata Göre Listele</div>
            <div class="dropdown-menu dropdown-menu-right">
                <a href="#" class="dropdown-item">₺0 ile ₺50 arası</a>
                <a href="#" class="dropdown-item">₺51 ile ₺100 arası</a>
                <a href="#" class="dropdown-item">₺101 ile ₺150 arası</a>
                <a href="#" class="dropdown-item">₺151 ile ₺200 arası</a>
                <a href="#" class="dropdown-item">₺201 ile ₺250 arası</a>
                <a href="#" class="dropdown-item">₺251 ile ₺300 arası</a>
                <a href="#" class="dropdown-item">₺301 ile ₺350 arası</a>
                <a href="#" class="dropdown-item">₺351 ile ₺400 arası</a>
                <a href="#" class="dropdown-item">₺401 ile ₺450 arası</a>
                <a href="#" class="dropdown-item">₺451 ile ₺500 arası</a>
            </div>
        </div>
    </div>
</div>