<div class="category">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="category-item ch-400">
                    <img src="~/ecommerce-html-template/img/Category--1.jpg" />
                    <a class="category-name" href="">
                        <p>Moda ve Giyim</p>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="category-item ch-250">
                    <img src="~/ecommerce-html-template/img/Category--2.jpg" />
                    <a class="category-name" href="">
                        <p>Elektronik</p>
                    </a>
                </div>
                <div class="category-item ch-150">
                    <img src="~/ecommerce-html-template/img/Category--3.jpg" />
                    <a class="category-name" href="">
                        <p>Ev ve Yaşam</p>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="category-item ch-150">
                    <img src="~/ecommerce-html-template/img/Category--4.jpg" />
                    <a class="category-name" href="">
                        <p>Spor ve Outdoor</p>
                    </a>
                </div>
                <div class="category-item ch-250">
                    <img src="~/ecommerce-html-template/img/Category--5.jpg" />
                    <a class="category-name" href="">
                        <p>Kozmetik ve Kişisel Bakım</p>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="category-item ch-400">
                    <img src="~/ecommerce-html-template/img/Category--6.jpg" />
                    <a class="category-name" href="">
                        <p>Kitap, Hobi ve Oyuncak</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
