<div class="category">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="category-item ch-250">
                    <img src="~/ecommerce-html-template/img/category-4.jpg" />
                    <a class="category-name" href="">
                        <p>Makyaj Malzemeleri</p>
                    </a>
                </div>
                <div class="category-item ch-150">
                    <img src="~/ecommerce-html-template/img/category-6.jpg" />
                    <a class="category-name" href="">
                        <p>Kişisel Bakım</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>