<div class="checkout-summary">
    <h1>Sipariş Özeti</h1>
    <p class="sub-total">Sepet Tutarı<span>$99</span></p>
    <p class="ship-cost">Kargo Ücreti<span>$1</span></p>
    <h2>Genel Toplam<span>$100</span></h2>
</div>