<div class="nav">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <a href="#" class="navbar-brand">MENU</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav mr-auto">
                    <a href="/Default/Index/" class="nav-item nav-link">Anasayfa</a>
                    <a href="product-list.html" class="nav-item nav-link">Ürünler</a>
                    <a href="product-detail.html" class="nav-item nav-link">Ürün Detayları</a>
                    <a href="product-detail.html" class="nav-item nav-link">Günün Fırsatı</a>
                    <a href="cart.html" class="nav-item nav-link">Sepetim</a>
                    <a href="checkout.html" class="nav-item nav-link">Ödeme</a>
                    <a href="my-account.html" class="nav-item nav-link">Hesabım</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle active" data-toggle="dropdown">Sayfalar</a>
                        <div class="dropdown-menu">
                            <a href="wishlist.html" class="dropdown-item">İstek Listesi</a>
                            <a href="login.html" class="dropdown-item">Kayıt Ol ve Giriş Yap</a>
                            <a href="contact.html" class="dropdown-item">İletişim</a>
                        </div>
                    </div>
                </div>
                <div class="navbar-nav ml-auto">
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Kullanıcı Hesabı</a>
                        <div class="dropdown-menu">
                            <a href="#" class="dropdown-item">Giriş Yap</a>
                            <a href="#" class="dropdown-item">Kayıt Ol</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>