
<div class="checkout-payment">
    <div class="payment-methods">
        <h1>Ödeme Yöntemi</h1>
        <div class="payment-method">
            <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" id="payment-1" name="payment">
                <label class="custom-control-label" for="payment-1">Paypal</label>
            </div>
            <div class="payment-content" id="payment-1-show">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt orci ac eros volutpat maximus lacinia quis diam.
                </p>
            </div>
        </div>
        <div class="payment-method">
            <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" id="payment-2" name="payment">
                <label class="custom-control-label" for="payment-2">Payoneer</label>
            </div>
            <div class="payment-content" id="payment-2-show">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt orci ac eros volutpat maximus lacinia quis diam.
                </p>
            </div>
        </div>
        <div class="payment-method">
            <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" id="payment-3" name="payment">
                <label class="custom-control-label" for="payment-3">Check Payment</label>
            </div>
            <div class="payment-content" id="payment-3-show">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt orci ac eros volutpat maximus lacinia quis diam.
                </p>
            </div>
        </div>
        <div class="payment-method">
            <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" id="payment-4" name="payment">
                <label class="custom-control-label" for="payment-4">Direct Bank Transfer</label>
            </div>
            <div class="payment-content" id="payment-4-show">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt orci ac eros volutpat maximus lacinia quis diam.
                </p>
            </div>
        </div>
        <div class="payment-method">
            <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" id="payment-5" name="payment">
                <label class="custom-control-label" for="payment-5">Cash on Delivery</label>
            </div>
            <div class="payment-content" id="payment-5-show">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt orci ac eros volutpat maximus lacinia quis diam.
                </p>
            </div>
        </div>
    </div>
    <div class="checkout-btn">
        <button>Place Order</button>
    </div>
</div>