<div class="checkout-payment">
    <div class="payment-methods">
        <h2>Ödeme Yöntemi</h2>
        <div class="payment-method">
            <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" id="payment-1" name="payment">
                <label class="custom-control-label" for="payment-1">Kredi Kartı</label>
            </div>
        </div>
        <div class="payment-method">
            <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" id="payment-2" name="payment">
                <label class="custom-control-label" for="payment-2">Havale / EFT</label>
            </div>
        </div>
        <div class="payment-method">
            <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" id="payment-3" name="payment">
                <label class="custom-control-label" for="payment-3">Kapıda Ödeme</label>
            </div>
        </div>
    </div>
</div>
