@model List<ResultFeatureSliderDto>

<div class="header">
    <div class="container-fluid">
        <div class="row">
            @await Component.InvokeAsync("_SliderCategoriesDefaultComponentPartial")
           
            <div class="col-md-6">
                <div class="header-slider normal-slider">
                    @foreach(var item in Model)
                    {
                        <div class="header-slider-item">
                            <img src="@item.ImageUrl" alt="Slider Image" />
                            <div class="header-slider-caption">
                                <p>@item.Description</p>
                                <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Alışveriş Yap</a>
                            </div>
                        </div>
                    }          
                </div>
            </div>
            @await Component.InvokeAsync("_TopDiscountComponentPartial")
        </div>
    </div>
</div>