<div class="breadcrumb-wrap">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">@ViewBag.directory1</a></li>
            <li class="breadcrumb-item active">@ViewBag.directory2</li>
        </ul>
    </div>
</div>